{% extends "base.html" %}

{% block title %}Following posts{% endblock %}

{% block content %}

<div class="posts-container">
    {% if posts.items|length > 0 %}

    <h4 class="posts-page-title">Followed posts</h4>

    {% include "posts/posts_nav_index.html" %}

    {% for post in posts.items %}
    {% include "posts/post.html" %}
    {% endfor %}

    {% include "posts/posts_nav_index.html" %}
    
    {% else %}
    <h4 class="posts-page-title">
        You're not following anybody
    </h4>
    <h4>
        Find people on the <a href="/">Home</a> page and follow them to see their posts
    </h4>
    {% endif %}
</div>

{% endblock %}