<div class="page-nav-container">
    <div class="page-nav-ref">
        {% if posts.has_prev %}
        <a href="{{ url_for('accounts.profile', page=posts.prev_num, user_id=user.id) }}">Newer posts</a>
        {% else %}
        <div>Newer posts</div>
        {% endif %}
    </div>
    <div class="page-nav-ref">
        {% if posts.has_next %}
        <a href="{{ url_for('accounts.profile', page=posts.next_num, user_id=user.id) }}">Older posts</a>
        {% else %}
        <div>Older posts</div>
        {% endif %}
    </div>
</div>