{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

<div class="profile-container">
    <div class="profile">
        <div class="profile-img">
            {% if user.profile_photo %}
            <img src="{{ url_for('static', filename=user.profile_photo) }}" alt="{{ user.username }}'s photo"
                style="width: 100%; border-radius:50%" />
            {% else %}
            <img src="{{ url_for('static', filename='images/avatars/default/avatar.png') }}"
                alt="{{ user.username }}'s photo" style="width: 100%; border-radius:50%" />
            {% endif %}
        </div>
        <div>
            <p>
            <h5>Profile info</h5>
            </p>
            <p>Username: {{ user.username }}</p>
            <p>Email: {{ user.email }}</p>
            <p>Date of registration: {{ user.created_on | date_format }}</p>
            <p>Followers: {{ user.followers.count() }}, following: {{ user.followed.count() }} </p>
            {% if session['user_id'] == user.id %}
            <p>
                <a href="{{ url_for('accounts.profile_editor') }}">Edit profile</a>
                <form action="/accounts/logout" method="POST">
                    <button type="submit" class="btn btn-outline-danger">Log out</button>
                </form>
            </p>
            {% else %}
            {% if current_user.is_following(user) %}
            <form action="{{ url_for('accounts.unfollow', user_id=user.id) }}" method="POST">
                <input type="submit" value="Unfollow" />
            </form>
            {% else %}
            <form action="{{ url_for('accounts.follow', user_id=user.id) }}" method="POST">
                <input type="submit" value="Follow" />
            </form>
            {% endif %}
            {% endif %}
        </div>
    </div>

    {% if posts.items|length > 0 %}
    <h5>User's posts</h5>

    {% include "posts/posts_nav_profile.html" %}

    <div class="posts-container">
        {% for post in posts.items %}
        {% include "posts/post.html" %}
        {% endfor %}
    </div>

    {% include "posts/posts_nav_profile.html" %}
    {% else %}
    <h5>User have no posts</h5>
    {% endif %}
</div>



{% endblock %}