{% extends "base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}

<div class="profile-container">
    <div class="profile">
        <div class="profile-img">
            {% if user.profile_photo %}
            <img src="{{ url_for('static', filename=user.profile_photo) }}" alt="{{ user.username }}'s photo"
                style="width: 100%"/>
            {% else %}
            <img src="{{ url_for('static', filename='images/avatars/default/avatar.png') }}"
                alt="{{ user.username }}'s photo" style="width: 100%"/>
            {% endif %}
        </div>
        <div>
            <p>
            <h5>Profile info</h5>
            </p>
            <p>Username: {{ user.username }}</p>
            <p>Email: {{ user.email }}</p>
            <p>Date of registration: {{ user.created_on | date_format }}</p>
            {% if session['user_id'] == user.id %}
            <p><a href="{{ url_for('accounts.profile_editor', user_id=user.id) }}">Edit profile</a></p>
            {% endif %}
        </div>

    </div>
    <h5>User's posts</h5>
    <div class="posts-container">
        {% for post in user.posts %}
        {% include "posts/post.html" %}
        {% endfor %}
    </div>
</div>

{% endblock %}