<!doctype html>
<html>

<head>
    <title>{% block title %}{% endblock %} - My social network</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/styles.css') }}">
</head>

<body class="content">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="/">
                My Social Network
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    {% if session['user_id'] %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('posts.create_post_view') }}">
                            Create post
                        </a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('accounts.profile', user_id=session['user_id']) }}">
                            Profile
                        </a>
                    </li>
                    <li class="nav-item active">
                        <form action="/accounts/logout" method="POST">
                            <input type="submit" value="Log Out"/>
                        </form>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('accounts.register') }}">
                            Register
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('accounts.login') }}">
                            Log In
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    {% for category, message in get_flashed_messages(with_categories=true) %}
    {% if category == 'info'%}
    <div class="alert alert-info">{{ message }}</div>
    {% else %}
    <div class="alert alert-danger">{{ message }}</div>
    {% endif %}
    {% endfor %}

    {% block content %}{% endblock %}
</body>

</html>